[Unit]
Description=Solar Script

[Service]
Type=simple
ExecStart=/usr/bin/ladex10.sh
StandardOutput=append:/var/log/ladex10.log
StandardError=append:/home/user/ladex10_err.log
Restart=always
 
[Install]
WantedBy=multi-user.target

